__pycache__/
.env
training/*
gen_mock_data/classroom_pictures

# Celery Beat schedule file (default name)
celerybeat-schedule
celerybeat-schedule.*

# Celery logs (if you use --logfile)
celery*.log

# Celery worker temporary files
*.pid
celeryd.*