__pycache__/
.env
training/*
encoding/*
validation/*
data/*

# Celery Beat schedule file (default name)
celerybeat-schedule
celerybeat-schedule.*

# Celery logs (if you use --logfile)
celery*.log

# Celery worker temporary files
*.pid
celeryd.*